.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
  color: blue;
  margin-left: 5px;
}

.tooltip:hover::after {
  content: attr(title);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  transform: translateX(-50%);
  left: 50%;
  top: 100%;
  z-index: 1000;
  margin-top: 5px;
  font-size: 0.8em;
}